@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Figtree', sans-serif;
    transition: 2s;
}

.hero {
    background-image: url("../img/hero-bg.jpg");
    height: 90vh;
}

.pie{
    background-color: rgb(127, 87, 165);
    color: black;
    padding-block:  20px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.container{
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}